HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

### Terraform ###
terraform_infrastructure/*
*.tfvars
!terraform_infrastructure/backend.tf
!terraform_infrastructure/ec2.tf
!terraform_infrastructure/lambda.tf
!terraform_infrastructure/providers.tf
!terraform_infrastructure/s3.tf
!terraform_infrastructure/s3_dynamodb.tf
!terraform_infrastructure/sns.tf
!terraform_infrastructure/sqs.tf
!terraform_infrastructure/variables.tf
!terraform_infrastructure/versions.tf

/.gitattributes